In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Semester01_Data.xlsx")
df

,S/No,Introduction to Information and Communication Technology,English Comprehension,Programming Fundamentals,Pakistan Studies,Calculus and Analytical Geometry,Islamic Studies,TOTAL,%age,SGPA,Remarks
0,NaN,4,3,4.000000,2,3,2,NaN,NaN,NaN,NaN
1,NaN,100,100,100.000000,100,100,100,600.000000,NaN,NaN,NaN
2,1.0,82,86.5,72.091667,74,84,84,482.591667,80.431944,3.703333,Promoted
3,2.0,75,79.714286,60.533333,54,60,83.75,412.997619,68.832937,2.795556,Promoted
4,3.0,80,74.785714,67.258333,64,61,81.25,428.294048,71.382341,3.071667,Promoted
5,4.0,82,81.142857,61.258333,72,66,84.25,446.651190,74.441865,3.166111,Promoted
6,5.0,80,77.214286,70.316667,73,72,82.5,455.030952,75.838492,3.443333,Promoted
7,6.0,70,88.928571,60.875000,60,77,81.75,438.553571,73.092262,3.054444,Promoted
8,7.0,80,90.428571,70.483333,70,68,80,458.911905,76.485317,3.443333,Promoted
9,8.0,83,79.928571,82.500000,81,84,86.25,496.678571,82.779762,4.000000,Promoted
10,9.0,80,79.5,74.425000,74,75,83.75,466.675000,77.779167,3.665000,Promoted
11,10.0,82,87.714286,82.208333,65,70,87,473.922619,78.987103,3.647778,Promoted
12,11.0,80,75.571429,72.283333,62,69,80.25,439.104762,73.184127,3.220556,Promoted
13,12.0,72,80.5,55.400000,61,64,80.25,413.150000,68.858333,2.721667,Promoted
14,13.0,81,83.857143,60.033333,60,75,80.5,440.390476,73.398413,3.221667,Promoted
15,14.0,Semester Frozen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15.0,82,85,76.566667,71,70,82,466.566667,77.761111,3.646667,Promoted
17,16.0,80,85.642857,64.041667,66,66.5,77.5,439.684524,73.280754,3.182222,Promoted
18,17.0,81,81.714286,69.691667,60,70,82.75,445.155952,74.192659,3.388889,Promoted
19,18.0,71,83.464286,77.000000,67,74,77,449.464286,74.910714,3.403889,Promoted
20,19.0,70,76,76.958333,74,78,83,457.958333,76.326389,3.459444,Promoted
21,20.0,80,79.857143,70.408333,60,60,78.25,428.515476,71.419246,3.184444,Promoted
22,21.0,75,75.428571,71.654167,70,76,85.5,453.582738,75.597123,3.294444,Promoted
23,22.0,72,79.642857,64.408333,52,69,80.25,417.301191,69.550198,2.905556,Promoted
24,23.0,76,75.214286,72.350000,66,75,77.75,442.314286,73.719048,3.182222,Promoted
25,24.0,80,85.285714,77.050000,65,62,82,451.335714,75.222619,3.405556,Promoted
26,25.0,80,91.928571,64.783333,72,63,85.25,456.961905,76.160317,3.184444,Promoted
27,26.0,80,90.857143,77.166667,64,65,81.75,458.773810,76.462302,3.460556,Promoted
28,27.0,80,74.785714,69.575000,68,58,81,431.360714,71.893452,3.100556,Promoted
29,28.0,80,90.857143,77.087500,61,67,81.25,457.194643,76.199107,3.478889,Promoted
30,29.0,Semester Frozen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,30.0,80,89.357143,64.391667,73,75,81.25,462.998809,77.166468,3.406111,Promoted
32,31.0,Semester Frozen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,32.0,81,83.214286,71.612500,70,65,81.25,452.076786,75.346131,3.388333,Promoted
34,33.0,80,75.142857,66.833333,81,69,86.25,458.226190,76.371032,3.367222,Promoted
35,34.0,82,79.928571,69.500000,70,81,85,467.428571,77.904762,3.666667,Promoted
36,35.0,80,86.5,70.025000,64,73,81,454.525000,75.754167,3.425556,Promoted
37,36.0,76,77.928571,64.425000,64,75,79.5,436.853571,72.808929,3.126111,Promoted
38,37.0,82,87.857143,70.358333,67,72,82.25,461.465476,76.910913,3.462222,Promoted
39,38.0,73,79.5,52.725000,73,62,80.25,420.475000,70.079167,2.777778,Promoted
40,39.0,---,---,70.000000,---,---,---,70.000000,70.000000,1.800000,Promoted on Final Probation

In [4]:
df.head(3)

,S/No,Introduction to Information and Communication Technology,English Comprehension,Programming Fundamentals,Pakistan Studies,Calculus and Analytical Geometry,Islamic Studies,TOTAL,%age,SGPA,Remarks
0,NaN,4,3,4.000000,2,3,2,NaN,NaN,NaN,NaN
1,NaN,100,100,100.000000,100,100,100,600.000000,NaN,NaN,NaN
2,1.0,82,86.5,72.091667,74,84,84,482.591667,80.431944,3.703333,Promoted

In [5]:
df.tail(3)

,S/No,Introduction to Information and Communication Technology,English Comprehension,Programming Fundamentals,Pakistan Studies,Calculus and Analytical Geometry,Islamic Studies,TOTAL,%age,SGPA,Remarks
38,37.0,82,87.857143,70.358333,67,72,82.25,461.465476,76.910913,3.462222,Promoted
39,38.0,73,79.5,52.725000,73,62,80.25,420.475000,70.079167,2.777778,Promoted
40,39.0,---,---,70.000000,---,---,---,70.000000,70.000000,1.800000,Promoted on Final Probation

In [6]:
df.shape #displays the shape of the dataset (rows and columns)

(41, 11)

In [8]:
print("No  of Rows:", df.shape[0])
print("No of Columns:", df.shape[1])

No  of Rows: 41
No of Columns: 11

In [9]:
df.info() #displays overall information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 11 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   S/No                                                      39 non-null     float64
 1   Introduction to Information and Communication Technology  41 non-null     object
 2   English Comprehension                                     38 non-null     object
 3    Programming Fundamentals                                 38 non-null     float64
 4   Pakistan Studies                                          38 non-null     object
 5   Calculus and Analytical Geometry                          38 non-null     object
 6   Islamic Studies                                           38 non-null     object
 7   TOTAL                                                     37 non-null     float64
 8   %age                                                      36 non-null     float64
 9   SGPA                                                      36 non-null     float64
 10  Remarks                                                   36 non-null     object
dtypes: float64(5), object(6)
memory usage: 3.6+ KB

In [11]:
df.isnull().sum() #display total no of null values column-wise

S/No                                                        2
Introduction to Information and Communication Technology    0
English Comprehension                                       3
 Programming Fundamentals                                   3
Pakistan Studies                                            3
Calculus and Analytical Geometry                            3
Islamic Studies                                             3
TOTAL                                                       4
%age                                                        5
SGPA                                                        5
Remarks                                                     5
dtype: int64

In [12]:
df.isnull().sum(axis=1) #displays total number of null values row wise

0     5
1     4
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    9
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    9
31    0
32    9
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
dtype: int64

In [13]:
df.describe() #displays the stats for numerical value columns only

            S/No   Programming Fundamentals       TOTAL       %age       SGPA
count  39.000000                  38.000000   37.000000  36.000000  36.000000
mean   20.000000                  68.481031  443.058703  74.736908   3.273673
std    11.401754                  13.597414   70.159197   3.199241   0.373816
min     1.000000                   4.000000   70.000000  68.832937   1.800000
25%    10.500000                  64.412500  438.553571  73.021429   3.156111
50%    20.000000                  70.170833  452.076786  75.284375   3.377778
75%    29.500000                  73.906250  458.911905  76.468056   3.459722
max    39.000000                 100.000000  600.000000  82.779762   4.000000

In [14]:
df.describe(include='all') #displays the overall stats for all columns

,S/No,Introduction to Information and Communication Technology,English Comprehension,Programming Fundamentals,Pakistan Studies,Calculus and Analytical Geometry,Islamic Studies,TOTAL,%age,SGPA,Remarks
count,39.000000,41.0,38.000000,38.000000,38.0,38.0,38.00,37.000000,36.000000,36.000000,36
unique,NaN,14.0,33.000000,NaN,19.0,25.0,27.00,NaN,NaN,NaN,2
top,NaN,80.0,79.928571,NaN,64.0,75.0,81.25,NaN,NaN,NaN,Promoted
freq,NaN,15.0,2.000000,NaN,4.0,5.0,4.00,NaN,NaN,NaN,35
mean,20.000000,NaN,NaN,68.481031,NaN,NaN,NaN,443.058703,74.736908,3.273673,NaN
std,11.401754,NaN,NaN,13.597414,NaN,NaN,NaN,70.159197,3.199241,0.373816,NaN
min,1.000000,NaN,NaN,4.000000,NaN,NaN,NaN,70.000000,68.832937,1.800000,NaN
25%,10.500000,NaN,NaN,64.412500,NaN,NaN,NaN,438.553571,73.021429,3.156111,NaN
50%,20.000000,NaN,NaN,70.170833,NaN,NaN,NaN,452.076786,75.284375,3.377778,NaN
75%,29.500000,NaN,NaN,73.906250,NaN,NaN,NaN,458.911905,76.468056,3.459722,NaN
max,39.000000,NaN,NaN,100.000000,NaN,NaN,NaN,600.000000,82.779762,4.000000,NaN

In [15]:
df['Remarks'].unique()

array([nan, 'Promoted', 'Promoted on Final Probation'], dtype=object)

In [16]:
df['Remarks'].nunique()

2

In [21]:
df['Remarks'].value_counts()

Promoted                       35
Promoted on Final Probation     1
Name: Remarks, dtype: int64

In [40]:
sum(df['Islamic Studies'].isnull())

3

In [46]:
df.drop(['Remarks', 'SGPA', 'S/No'], axis=1, inplace=True)

In [47]:
df

,Introduction to Information and Communication Technology,English Comprehension,Programming Fundamentals,Pakistan Studies,Calculus and Analytical Geometry,Islamic Studies,TOTAL,%age
0,4,3,4.000000,2,3,2,NaN,NaN
1,100,100,100.000000,100,100,100,600.000000,NaN
2,82,86.5,72.091667,74,84,84,482.591667,80.431944
3,75,79.714286,60.533333,54,60,83.75,412.997619,68.832937
4,80,74.785714,67.258333,64,61,81.25,428.294048,71.382341
5,82,81.142857,61.258333,72,66,84.25,446.651190,74.441865
6,80,77.214286,70.316667,73,72,82.5,455.030952,75.838492
7,70,88.928571,60.875000,60,77,81.75,438.553571,73.092262
8,80,90.428571,70.483333,70,68,80,458.911905,76.485317
9,83,79.928571,82.500000,81,84,86.25,496.678571,82.779762
10,80,79.5,74.425000,74,75,83.75,466.675000,77.779167
11,82,87.714286,82.208333,65,70,87,473.922619,78.987103
12,80,75.571429,72.283333,62,69,80.25,439.104762,73.184127
13,72,80.5,55.400000,61,64,80.25,413.150000,68.858333
14,81,83.857143,60.033333,60,75,80.5,440.390476,73.398413
15,Semester Frozen,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,82,85,76.566667,71,70,82,466.566667,77.761111
17,80,85.642857,64.041667,66,66.5,77.5,439.684524,73.280754
18,81,81.714286,69.691667,60,70,82.75,445.155952,74.192659
19,71,83.464286,77.000000,67,74,77,449.464286,74.910714
20,70,76,76.958333,74,78,83,457.958333,76.326389
21,80,79.857143,70.408333,60,60,78.25,428.515476,71.419246
22,75,75.428571,71.654167,70,76,85.5,453.582738,75.597123
23,72,79.642857,64.408333,52,69,80.25,417.301191,69.550198
24,76,75.214286,72.350000,66,75,77.75,442.314286,73.719048
25,80,85.285714,77.050000,65,62,82,451.335714,75.222619
26,80,91.928571,64.783333,72,63,85.25,456.961905,76.160317
27,80,90.857143,77.166667,64,65,81.75,458.773810,76.462302
28,80,74.785714,69.575000,68,58,81,431.360714,71.893452
29,80,90.857143,77.087500,61,67,81.25,457.194643,76.199107
30,Semester Frozen,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,80,89.357143,64.391667,73,75,81.25,462.998809,77.166468
32,Semester Frozen,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,81,83.214286,71.612500,70,65,81.25,452.076786,75.346131
34,80,75.142857,66.833333,81,69,86.25,458.226190,76.371032
35,82,79.928571,69.500000,70,81,85,467.428571,77.904762
36,80,86.5,70.025000,64,73,81,454.525000,75.754167
37,76,77.928571,64.425000,64,75,79.5,436.853571,72.808929
38,82,87.857143,70.358333,67,72,82.25,461.465476,76.910913
39,73,79.5,52.725000,73,62,80.25,420.475000,70.079167
40,---,---,70.000000,---,---,---,70.000000,70.000000

In [49]:
df

,Introduction to Information and Communication Technology,English Comprehension,Programming Fundamentals,Pakistan Studies,Calculus and Analytical Geometry,Islamic Studies,TOTAL,%age
0,4,3,4.000000,2,3,2,NaN,NaN
1,100,100,100.000000,100,100,100,600.000000,NaN
2,82,86.5,72.091667,74,84,84,482.591667,80.431944
3,75,79.714286,60.533333,54,60,83.75,412.997619,68.832937
4,80,74.785714,67.258333,64,61,81.25,428.294048,71.382341
5,82,81.142857,61.258333,72,66,84.25,446.651190,74.441865
6,80,77.214286,70.316667,73,72,82.5,455.030952,75.838492
7,70,88.928571,60.875000,60,77,81.75,438.553571,73.092262
8,80,90.428571,70.483333,70,68,80,458.911905,76.485317
9,83,79.928571,82.500000,81,84,86.25,496.678571,82.779762
10,80,79.5,74.425000,74,75,83.75,466.675000,77.779167
11,82,87.714286,82.208333,65,70,87,473.922619,78.987103
12,80,75.571429,72.283333,62,69,80.25,439.104762,73.184127
13,72,80.5,55.400000,61,64,80.25,413.150000,68.858333
14,81,83.857143,60.033333,60,75,80.5,440.390476,73.398413
15,Semester Frozen,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,82,85,76.566667,71,70,82,466.566667,77.761111
17,80,85.642857,64.041667,66,66.5,77.5,439.684524,73.280754
18,81,81.714286,69.691667,60,70,82.75,445.155952,74.192659
19,71,83.464286,77.000000,67,74,77,449.464286,74.910714
20,70,76,76.958333,74,78,83,457.958333,76.326389
21,80,79.857143,70.408333,60,60,78.25,428.515476,71.419246
22,75,75.428571,71.654167,70,76,85.5,453.582738,75.597123
23,72,79.642857,64.408333,52,69,80.25,417.301191,69.550198
24,76,75.214286,72.350000,66,75,77.75,442.314286,73.719048
25,80,85.285714,77.050000,65,62,82,451.335714,75.222619
26,80,91.928571,64.783333,72,63,85.25,456.961905,76.160317
27,80,90.857143,77.166667,64,65,81.75,458.773810,76.462302
28,80,74.785714,69.575000,68,58,81,431.360714,71.893452
29,80,90.857143,77.087500,61,67,81.25,457.194643,76.199107
30,Semester Frozen,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,80,89.357143,64.391667,73,75,81.25,462.998809,77.166468
32,Semester Frozen,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,81,83.214286,71.612500,70,65,81.25,452.076786,75.346131
34,80,75.142857,66.833333,81,69,86.25,458.226190,76.371032
35,82,79.928571,69.500000,70,81,85,467.428571,77.904762
36,80,86.5,70.025000,64,73,81,454.525000,75.754167
37,76,77.928571,64.425000,64,75,79.5,436.853571,72.808929
38,82,87.857143,70.358333,67,72,82.25,461.465476,76.910913
39,73,79.5,52.725000,73,62,80.25,420.475000,70.079167
40,---,---,70.000000,---,---,---,70.000000,70.000000

In [50]:
df.to_excel('Semester01_Data.xlsx')

In [51]:
df.columns #it is not a method, it is attribute of pandas

Index(['Introduction to Information and Communication Technology',
       'English Comprehension', ' Programming Fundamentals',
       'Pakistan Studies', 'Calculus and Analytical Geometry',
       'Islamic Studies', 'TOTAL', '%age'],
      dtype='object')

In [52]:
df.index

RangeIndex(start=0, stop=41, step=1)